.dashboard_text{

    margin-top: -353px;

    margin-left: 40px; 

}
.driver_text{

    margin-top: 30px;

    margin-left: 40px; 


}
.user_text{


    margin-top: 35px;

    margin-left: 40px; 

}
.trip_text{


    margin-top: 35px;

    margin-left: 40px; 

}
.credit_text{

    margin-top: 30px;

    margin-left: 40px; 


}
.promo_text{


 
    margin-top: 33px;

    margin-left: 40px; 
   
}
.balance_text {


    margin-top: 33px;

    margin-left: 40px; 
     
}