body {
      background-color: white;
}
 .grid-containe{
    
      display: grid;
    
 }

 .table{
      margin-left: 400px;  
      width:100% 
 }
 .box{
      float: left;
      padding: 20px;
      width: 85%;
      background-color: #f1f1f1;
      height: 580px; /* only for demonstration, should be removed */
      margin-left: 180px;
      margin-top: -108px;
 }
 .nav-color{
    
      background-color:#bdbdbd ;
      border-radius: 25px;
      height: 40px;
      margin-top: 0px;
 }